# Ignore all log files
logs/
*.log

# Ignore local zip backups
backup/
*.zip

# Ignore python artifacts
__pycache__/
*.pyc

# Ignore showcase files
SHOWCASE_ARCHITECTURAL_MAP.md
showcase_printable.html

# Ignore AI Agent rules & configurations
.agents/
.antigravity/
[gG][eE][mM][iI][nN][iI].[mM][dD]
gemini.md
GEMINI.MD




# Ignore Education folder
Education/
